@model CampaignVM

@{
    ViewData["Title"] = "BirthdayMaster";
}

<section class="blog-page-header">
    <div class="header-img-overlay-black"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8  text-white">
                <h1>Uşaq ad günləri və master-klasslar</h1>
                <p class="lead">Restoranımızda övladlarınız üçün master-klasslar və uşaq tədbirləri keçirilir</p>
            </div>
        </div>
    </div>
</section>

<section class="events-and-news-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto text-center my-5">
                <h2 class="section-title"></h2>
                <img src="/app/templates/main/img/icon_lines.png" alt="" width="16" class="">
            </div>
        </div>
        <div class="card-deck">
            @foreach (Campaign campaign in Model.Campaigns)
            {
                <div class="col-md-4">
                    <div class="card myCard ">
                        <a asp-controller="Campaign" asp-action="Detail" asp-route-Id="@campaign.Id">
                            <img class="card-img-top" src="~/images/@campaign.Image" alt="Card image cap">
                            <div class="cardFooter">
                                <div class="card-date">
                                    <div class="preparation-date card-date-item">
                                        <p>Fevral 17, 2020</p>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">@campaign.Title</h5>
                                    <p class="card-text section-text-grey">
                                        @campaign.Description
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            }

        </div>
    </div>
</section>


